@model AzureChallenge.UI.Models.ChallengeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Available Challenges";
    var filterCategory = Model.Challenges.Select(p => p.AzureCategory).Distinct().OrderBy(p => p).ToList();
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="container">

    <div class="row">
        <div class="col-md-2 border-right border-secondary">
            <h4><u>Filter</u></h4>
            <h6>Category</h6>
            @for (int i = 0; i < filterCategory.Count; i++)
            {
                <div class="form-check">
                    <input type="checkbox" class="check-filter form-check-input" id="@("cbFilter" + i)" data-category="@filterCategory[i]">
                    <label class="form-check-label" for="@("cbFilter" + i)">@filterCategory[i]</label>
                </div>
            }
        </div>
        <div class="col-md-10">
            @for (int i = 0; i < Model.Challenges.Count(); i++)
            {
                if (i % 2 == 0)
                {
                    @Html.Raw("<div class='row'>")
                }

                <div class="col-md-6 card-div-category" data-category="@Model.Challenges[i].AzureCategory">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="float-left">@Model.Challenges[i].Name</h5>
                            <span class="badge badge-secondary mt-1 float-right">@Model.Challenges[i].AzureCategory</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                @Model.Challenges[i].Description
                            </p>
                        </div>
                        <div class="card-footer">
                            @if (Model.Challenges[i].IsComplete)
                            {
                                <span class="text-success">Completed</span>
                            }
                            else if (Model.Challenges[i].IsUnderway)
                            {
                                <a asp-action="StartChallenge" asp-controller="Challenge" asp-route-challengeId="@Model.Challenges[i].Id" asp-route-questionId="@Model.Challenges[i].CurrentQuestionId">Continue</a>
                            }
                            else
                            {
                                <a asp-action="StartChallenge" asp-controller="Challenge" asp-route-challengeId="@Model.Challenges[i].Id" asp-route-questionId="@Model.Challenges[i].CurrentQuestionId">Start</a>
                            }
                        </div>
                    </div>
                </div>

                if (i % 2 == 1)
                {
                    @Html.Raw("</div>")
                }
            }
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <environment include="Development">
        <script src="~/js/azurechallenge.challenge.index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/azurechallenge.challenge.index.min.js"></script>
    </environment>

}
