@model AzureChallenge.UI.Areas.Administration.Models.Questions.AddNewQuestionViewModel

@{
    ViewData["Title"] = "AddNew";
    var urisOrderd = Model.Uris.OrderBy(p => p.Id);
}

@section Styles{
    <link href="~/lib/bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <style>
        .form-border {
            padding: 1rem;
            border: 1px solid #ced4da;
            border-radius: 4px 4px 0 0;
        }
    </style>
}

<h1>Add New Question</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input class="form-control" asp-for="@Model.Name" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <input class="form-control" asp-for="@Model.Description" />
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="@Model.TargettedAzureService"></label>
        </div>
        <div class="col-4">
            <select class="selectpicker" asp-for="@Model.TargettedAzureService" data-live-search="true" title="Please select a service">
                @foreach(var service in Model.AzureServicesList)
                {
                    <option>@service</option>
                }
            </select>
        </div>
        <div class="col-2">
            <label asp-for="@Model.Difficulty"></label>
        </div>
        <div class="col-3">
            <input asp-for="@Model.Difficulty" type="text"
                   data-provide="slider"
                   data-slider-ticks="[1, 2, 3, 4]"
                   data-slider-ticks-labels='["Easy", "Medium", "Hard", "Expert"]'
                   data-slider-min="1"
                   data-slider-max="4"
                   data-slider-step="1"
                   data-slider-value="1"
                   data-slider-tooltip="hide" />
        </div>
    </div>
    <div id="textParamsGroup" class="form-border form-group">
        <div class="form-group">
            <label asp-for="@Model.Text"></label>
            <textarea asp-for="@Model.Text" class="form-control" id="Text" rows="4"></textarea>
            <small class="form-text text-muted">Please enter the question text. Placeholders that will be replaced from below parameters should be wrapped inside curly braces {}.</small>
        </div>
        <div id="textParamsInputGroup" class="form-group row">
        </div>
    </div>
    <div id="uriParamsGroup" class="form-border form-group">
        <div class="form-group">
            <div class="col pl-0 pr-0">
                <label asp-for="@Model.Uris"></label>
            </div>
            <div class="col pl-0 pr-0">
                <ul class="nav nav-tabs" id="uriTab" role="tablist">
                    @for (int i = 0; i < Model.Uris.Count(); i++)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(i == 0 ? "active" : "") uriNavItem" id="uri-@(i)-tab" data-toggle="tab" href="#uri-@(i)-content" role="tab" aria-controls="uri-@(i)-content" aria-selected="@(i == 0 ? "true" : "false")">Uri #@(i+1)</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" id="addUriLink" href="#">+</a>
                    </li>
                </ul>
            </div>
            <br />
            <div class="col pl-0 pr-0 tab-content" id="uriTabContent">
                @for (int i = 0; i < Model.Uris.Count(); i++)
                {
                    <div class='tab-pane fade @(i == 0 ? "show active" : "")' id='uri-@(i)-content' role='tabpanel' aria-labelledby='uri-@(i)-tab'>
                        <input type='hidden' asp-for='@Model.Uris[i].Id' />
                        <div class='input-group mb-3'>
                            <div class='input-group-prepend btn-group-toggle' data-toggle='buttons'>
                                <label class='btn btn-secondary'>
                                    <input type='radio' asp-for='@Model.Uris[i].CallType' value='GET' id='GET' autocomplete='off' checked> GET
                                </label>
                                <label class='btn btn-secondary'>
                                    <input type='radio' asp-for='@Model.Uris[i].CallType' value='HEAD' id='HEAD' autocomplete='off'> HEAD
                                </label>
                            </div>
                            <input asp-for='@Model.Uris[i].Uri' class='form-control uriinput' />
                        </div>
                        <small class='form-text text-muted'>Please enter the Uri for the API to call. Placeholders that will be replaced from below parameters should be wrapped inside curly braces {}.</small>
                        <br />
                        <div id='Uris_@(i)__Uri_params' class='form-group row'>
                        </div>
                        <div class='text-right'>
                            <button type='button' class='btn btn-warning btnRemoveUri' id='Uris_@(i)_Uri_remove'>Remove this Uri</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="answersParamsGroup" class="form-border form-group">
        <div class="form-group">
            <div class="col pl-o pr-0">
                <label asp-for="@Model.Answers"></label>
            </div>
            <div class="col pl-0 pr-0">
                <ul class="nav nav-tabs" id="answerTab" role="tablist">
                    @for (int i = 0; i < Model.Answers.Count(); i++)
                    {
                        <li class='nav-item'>
                            <a class='nav-link @(i == 0 ? "active" : "") answerNavItem' id='answer-@(i)-tab' data-toggle='tab' href='#answer-@(i)-content' role='tab' aria-controls='answer-@(i)-content' aria-selected='@(i == 0 ? "true" : "false")'>Answer for Uri #@(i+1)</a>
                        </li>
                    }
                </ul>
            </div>
            <br />
            <div class="col pl-0 pr-0 tab-content" id="answerTabContent">
                @for (int i = 0; i < Model.Answers.Count(); i++)
                {
                    <div class='tab-pane fade @(i == 0 ? "show active" : "")' id='answer-@(i)-content' role='tabpanel' aria-labelledby='answer-@(i)-tab'>
                        <input type="hidden" asp-for="@Model.Answers[i].AssociatedQuestionId" />
                        <div class='form-group input-group mb-3'>
                            <div class='col-3 pl-0'>
                                <label class='pr-3'>Answer will be checked against:</label>
                            </div>
                            <div class='col-7'>
                                <div class='custom-radio'>
                                    <label class='pr-4'>
                                        <input type='radio' name='Answers[@(i)].ResponseType' value='HEAD' id='respHEAD' autocomplete='off' checked> Headers
                                    </label>
                                    <label>
                                        <input type='radio' name='Answers[@(i)].ResponseType' value='BODY' id='respBODY' autocomplete='off'> Body
                                    </label>
                                </div>
                            </div>
                            <div class='col-2 text-right pr-0'>
                                <button type='button' class='btn btn-info addAnswerParameter'>Add parameter</button>
                            </div>
                        </div>
                    </div>
                    <div id='Answers_@(i)__params' class='form-group row'></div>
                }
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

@section Scripts
{
    <script src="~/js/azurechallenge.scripts.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
}
