@model AzureChallenge.UI.Areas.Administration.Models.Challenges.EditChallengeViewModel
@{
    ViewData["Title"] = $"Edit {Model.Name} Challenge";
}
@section Styles{
    <link href="~/lib/bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <style>
        .form-border {
            padding: 1rem;
            border: 1px solid #ced4da;
            border-radius: 4px 4px 0 0;
        }
    </style>
}

<h1>@ViewData["Title"]</h1>
<hr />
<form asp-controller="Challenge" asp-action="AddAssignedQuestion" method="post">
    @Html.AntiForgeryToken()

    <div id="saveAlert" class="alert alert-danger d-none" role="alert">You have made changes. Please click save or risk losing them!</div>
    @if (Model.IsLocked)
    {
        <div id="saveAlert" class="alert alert-danger" role="alert">The Challenge is locked and cannot be edited!</div>
    }
    <input type="hidden" asp-for="Id" />
    <input type='hidden' asp-for="Description" />
    <input type="hidden" asp-for="CurrentUserProfile.SubscriptionId" />
    <input type="hidden" asp-for="CurrentUserProfile.TenantId" />
    <input type="hidden" asp-for="CurrentUserProfile.UserNameHashed" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="IsLocked" />
    <div class="form-group row">
        <div class="col-md-12">
            <label class="pr-2" asp-for="IsPublic"></label>
            <input type="checkbox" asp-for="IsPublic" data-toggle="toggle" data-size="small" disabled="@(Model.IsLocked ? "disabled" : null)" />
            <input type="hidden" asp-for="OldIsPublic" />
        </div>
    </div>
    @if (!Model.IsLocked)
    {
        <div class="form-group row">
            <h4 class="pl-3">Associate questions with the challenge</h4>
        </div>
        <div id="saveAlert" class="alert alert-danger d-none" role="alert">You have made changes. Please click save or risk losing them!</div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="@Model.Questions"></label>
            </div>
            <div class="col-md-8">
                <select class="selectpicker" data-live-search="true" title="Please select a question" data-width="100%" id="questionsSelector">
                    @foreach (var serviceGroup in Model.Questions.GroupBy(p => p.AzureService))
                    {
                        <optgroup label="@serviceGroup.Key">
                            @foreach (var s in serviceGroup)
                            {
                                @Html.Raw($"<option {(s.Selected ? "disabled" : "")} data-id='{s.Id}'>{s.Name}</option>")
                            }
                        </optgroup>
                    }
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-info" id="btnAddToList" type="button" data-toggle="modal" data-target="#questionModal" disabled>Add</button>

            </div>
            <div class="col-md-1">
                <button class="btn btn-warning" id="btnSave" type="button" data-toggle="modal" data-target="#updateModal" disabled>Save</button>
            </div>
        </div>
    }
    <div class="form-group row">
        <h4 class="pl-3">Associated questions</h4>
    </div>
    <div class="form-group row pl-3 pr-3">
        <table class="table table-responsive-md table-hover" id="associatedQuestionsTable">
            <thead class="thead-dark">
                <tr>
                    <th style="width:12%">Order</th>
                    <th style="width:@(Model.IsLocked ? 71.34 : 46.35)%">
                        @Html.DisplayNameFor(model => (model.ChallengeQuestions[0].Name))
                    </th>
                    @if (!Model.IsLocked)
                    {
                        <th style="width:8.33%" class="text-center">Edit</th>
                    }
                    <th style="width:8.33%" class="text-center">View</th>
                    @if (!Model.IsLocked)
                    {
                        <th style="width:8.33%" class="text-center">Copy</th>
                    }
                    <th style="width:8.33%" class="text-center">Check</th>
                    @if (!Model.IsLocked)
                    {
                        <th style="width:8.33%" class="text-center">Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ChallengeQuestions.Count; i++)
                {
                    <tr>
                        <td>
                            <select asp-for="@Model.ChallengeQuestions[i].Index" class="form-control indexSelector" style="border: 1px solid #ced4da !important; background-image: none !important"
                                    data-questionId="@Model.ChallengeQuestions[i].Id"
                                    asp-items="@Enumerable.Range(0, Model.ChallengeQuestions.Count).Select(p => new SelectListItem { Text = p.ToString(), Value = p.ToString() })"
                                    disabled="@(Model.IsLocked ? "disabled" : null)"></select>
                        </td>
                        <td>
                            @(Model.ChallengeQuestions[i].Name + " - " + Model.ChallengeQuestions[i].Description + " (Level: " + Model.ChallengeQuestions[i].DifficultyString + ")")
                            <input type="hidden" asp-for="@Model.ChallengeQuestions[i].Name" />
                            <input type="hidden" asp-for="@Model.ChallengeQuestions[i].Description" />
                            <input type="hidden" asp-for="@Model.ChallengeQuestions[i].Difficulty" />
                            <input type="hidden" class="nextQuestionId" asp-for="@Model.ChallengeQuestions[i].NextQuestionId" />
                            <input type="hidden" asp-for="@Model.ChallengeQuestions[i].AssociatedQuestionId" />
                            <input type="hidden" class="questionId" asp-for="@Model.ChallengeQuestions[i].Id" />
                        </td>
                        @if (!Model.IsLocked)
                        {
                            <td class="text-center">
                                <a href="#" class="tableLinkEdit" data-toggle="modal" data-target="#questionModal" data-questionId="@Model.ChallengeQuestions[i].Id">
                                    <img src="~/images/edit.svg" />
                                </a>
                            </td>
                        }
                        <td class="text-center">
                            <a href="#" class="tableLinkDetails" data-toggle="modal" data-target="#questionModal" data-questionId="@Model.ChallengeQuestions[i].Id">
                                <img src="~/images/eye.svg" />
                            </a>
                        </td>
                        @if (!Model.IsLocked)
                        {
                            <td class="text-center">
                                <a href="#" class="tableLinkCopy" data-toggle="modal" data-target="#questionModal" data-questionId="@Model.ChallengeQuestions[i].AssociatedQuestionId">
                                    <img src="~/images/copy.svg" style="width:24px" />
                                </a>
                            </td>
                        }
                        <td class="text-center">
                            <a href="#" class="tableLinkCheck" data-toggle="modal" data-target="#checkModal" data-questionId="@Model.ChallengeQuestions[i].Id">
                                <img src="~/images/check-square.svg" />
                            </a>
                        </td>
                        @if (!Model.IsLocked)
                        {
                            <td class="text-center">
                                <a href="#" class="deleteAssociatedQuestion" data-toggle="modal" data-target="#deleteModal" data-questionId="@Model.ChallengeQuestions[i].Id">
                                    <img src="~/images/trash-2.svg" class="svg-filter-danger" />
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal" id="questionModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Configure the question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modalWaiting" class="text-center">
                        <div>
                            Getting the question template...
                        </div>
                        <div>
                            <img src="/images/wait.gif">
                        </div>
                    </div>
                    <div class="d-none" id="modalContent">
                        <ul class="nav nav-tabs" id="modalTabs" role="tablist" style="border-bottom: none !important;">
                            <li role="presentation" class="nav-item active">
                                <a class="nav-link active" href="#modal-text" aria-controls="modal-text" role="tab" data-toggle="tab" aria-selected="true">
                                    Text Parameters&nbsp;
                                    <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Number of empty required fields" id="requiredInputsText"></span>
                                </a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a class="nav-link" href="#modal-uri" aria-controls="modal-uri" role="tab" data-toggle="tab" aria-selected="false">
                                    URI Parameters&nbsp;
                                    <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Number of empty required fields" id="requiredInputsUri"></span>
                                </a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a class="nav-link" href="#modal-answer" aria-controls="modal-answer" role="tab" data-toggle="tab" aria-selected="false">
                                    Answers&nbsp;
                                    <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Number of empty required fields" id="requiredInputsAnswer"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="modalTabsContent">
                            <div class="tab-pane fade show active tab-pane-upper" id="modal-text" role="tabpanel" aria-labelledby="modal-text-tab">
                                <div id="textParamsGroup" class="form-border form-group">
                                    <div class="form-group" id="hiddenParamGroup">
                                        <textarea id="QuestionToAdd_Text" name="QuestionToAdd.Text" class="form-control" rows="4" readonly></textarea>
                                        <input type="hidden" class="modal-hidden" id="QuestionToAdd_AssociatedQuestionId" name="QuestionToAdd.AssociatedQuestionId" />
                                        <input type="hidden" class="modal-hidden" id="QuestionToAdd_Name" name="QuestionToAdd.Name" />
                                        <input type="hidden" class="modal-hidden" id="QuestionToAdd_TargettedAzureService" name="QuestionToAdd.TargettedAzureService" />
                                        <input type="hidden" class="modal-hidden" id="QuestionToAdd_Difficulty" name="QuestionToAdd.Difficulty" />
                                        <input type="hidden" class="modal-hidden" id="QuestionToAdd_Description" name="QuestionToAdd.Description" />
                                        <input type="hidden" class="modal-hidden" id="QuestionToAdd_ChallengeId" name="QuestionToAdd.ChallengeId" />
                                        <input type="hidden" class="modal-hidden" id="QuestionToAdd_Id" name="QuestionToAdd.Id" />
                                        <input type="hidden" class="modal-hidden" id="QuestionToAdd_Justification" name="QuestionToAdd.Justification" />
                                    </div>
                                    <div class="text-primary">
                                        <span class="font-italic font-weight-bold">Preview:</span>
                                    </div>
                                    <div id="textParamsPreview" class="text-primary pb-4"></div>
                                    <div id="textParamsInputGroup" class="form-group row">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade tab-pane-upper" id="modal-uri" role="tabpanel" aria-labelledby="modal-uri-tab">
                                <div id="uriParamsGroup" class="form-border form-group">
                                    <div class="form-group">
                                        <div class="col pl-0 pr-0">
                                            <ul class="nav nav-tabs" id="uriTab" role="tablist">
                                            </ul>
                                        </div>
                                        <br />
                                        <div class="col pl-0 pr-0 tab-content" id="uriTabContent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade tab-pane-upper" id="modal-answer" role="tabpanel" aria-labelledby="modal-answer-tab">
                                <div id="answersParamsGroup" class="form-border form-group">
                                    <div class="form-group">
                                        <div class="col pl-0 pr-0">
                                            <ul class="nav nav-tabs" id="answerTab" role="tablist">
                                            </ul>
                                        </div>
                                        <br />
                                        <div class="col pl-0 pr-0 tab-content" id="answerTabContent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-none" id="modalError">
                        Something happened on our end. Please try again later (sorry...).
                    </div>
                </div>
                <div class="modal-footer d-none">
                    <button type="submit" id="btnModalSave" class="btn btn-primary">Save changes</button>
                    <button type="button" id="btnModalClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="checkModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Question Validity Check</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="checkModalWaiting" class="text-center">
                        <div>
                            Checking the question against your subscritpion...
                        </div>
                        <div>
                            <img src="/images/wait.gif">
                        </div>
                    </div>
                    <div class="d-none" id="checkModalContent">
                        <div class="row" id="checkModalContentDiv">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="deleteModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deleting the question</h5>
                </div>
                <div class="modal-body">
                    <div id="checkModalWaiting" class="text-center">
                        <div>
                            Please wait while the question is deleted...
                        </div>
                        <div>
                            <img src="/images/wait.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="updateModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Updating the challenge</h5>
                </div>
                <div class="modal-body">
                    <div id="checkModalWaiting" class="text-center">
                        <div>
                            Please wait while the challenge is updating...
                        </div>
                        <div>
                            <img src="/images/wait.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts
{
    <script src="~/lib/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/azurechallenge.admin.editchallenge.js"></script>
    <partial name="_ValidationScriptsPartial" />

}
