@model AzureChallenge.UI.Areas.Administration.Models.Challenges.IndexChallengeViewModel
@{
    ViewData["Title"] = "Challenge list";
}
@section Styles{
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
}

<div class="d-flex flex-row">
    <div class="align-content-between w-100">
        <span class="h1">@ViewData["Title"]</span>
        <button type="button" id="btnImportShowModal" class="btn btn-info float-right mt-2 ml-3">Import</button>
        <button type="button" id="btnAddNew" class="btn btn-info float-right mt-2">Add new</button>
    </div>
</div>
<hr />

<form>
    <div class="container">
        <table class="table table-responsive-md table-hover" id="challengeTable">
            <thead class="thead-dark">
                <tr>
                    <th style="width:16.67%">
                        @Html.DisplayNameFor(model => model.Challenges[0].Name)
                    </th>
                    <th style="width:33.35%">
                        @Html.DisplayNameFor(model => model.Challenges[0].Description)
                    </th>
                    <th class="text-center" style="width:8.33%">Parameters</th>
                    <th class="text-center" style="width:8.33%">Edit</th>
                    <th class="text-center" style="width:8.33%">Copy</th>
                    <th class="text-center" style="width:8.33%">Locked?</th>
                    <th class="text-center" style="width:8.33%">Delete</th>
                    <th class="text-center" style="width:8.33%">Export</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var q in Model.Challenges)
                {
                    <tr>
                        <td>
                            @q.Name
                        </td>
                        <td>
                            @q.Description
                        </td>
                        <td class="text-center">
                            <a asp-action="Index" asp-controller="Parameter" asp-area="Administration" asp-route-challengeId="@q.Id">
                                <img src="~/images/settings-24px.svg" style="width:24px" />
                            </a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-controller="Challenge" asp-area="Administration" asp-route-challengeId="@q.Id">
                                <img src="~/images/edit.svg" style="width:24px" />
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="tableLinkCopy" data-challengeId="@q.Id" data-category="@q.AzureServiceCategory">
                                <img src="~/images/copy.svg" style="width:24px" />
                            </a>
                        </td>
                        <td class="text-center">
                            @if (q.IsLocked)
                            {
                                <img src="~/images/lock-24px.svg" style="width:24px" />
                            }
                            else
                            {
                                <img src="~/images/lock_open-24px.svg" style="width:24px" />
                            }
                        </td>
                        <td class="text-center">
                            @if (q.IsLocked)
                            {
                                <img src="~/images/trash-2.svg" class="svg-filter-disabled" />
                            }
                            else
                            {
                                <a href="#" class="tableLinkDelete" data-challengeId="@q.Id">
                                    <img src="~/images/trash-2.svg" class="svg-filter-danger" />
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            <a href="#" class="tableLinkExport" data-challengeId="@q.Id">
                                <img src="~/images/export.svg" style="width:24px" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal" id="addNewModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new challenge</h5>
                </div>
                <div class="modal-body">
                    <div id="modalInput" class="text-center">
                        <input type="hidden" name="Id" id="Id" />
                        <div class="row text-left">
                            <div class="col-md-12">
                                <label asp-for="@Model.Challenges[0].Name"></label>
                                <input name="Name" id="Name" required data-val="true" data-val-required="The Name field is required." class="form-control" />
                            </div>
                            <div class="col-md-12">
                                <label asp-for="@Model.Challenges[0].Description"></label>
                                <textarea name="Description" id="Description" required data-val="true" data-val-required="The Description field is required." class="form-control"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="@Model.AzureServiceCategory"></label>
                                <select class="selectpicker" data-live-search="true" data-width="100%" id="categorySelector">
                                    @foreach (var cat in Model.AzureServiceCategories)
                                    {
                                        <option>@cat</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="modalWaiting" class="text-center">
                        <div id="modalWaitingMessage">
                            Please wait while the challenge is updating...
                        </div>
                        <div>
                            <img src="/images/wait.gif">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnModalAdd" class="btn btn-primary">Add</button>
                    <button type="submit" id="btnModalCopy" class="btn btn-primary d-none">Copy</button>
                    <button type="button" id="btnModalClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="exportModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Export challenge</h5>
                </div>
                <div class="modal-body">
                    <div id="modalInputExport" class="text-center">
                        <input type="hidden" name="Id" id="Id" />
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" id="btnExport">Export challenge</button>
                            </div>
                        </div>
                    </div>
                    <div id="modalWaitingExport" class="text-center">
                        <div id="modalWaitingMessage">
                            Please wait while the challenge is exported...
                        </div>
                        <div>
                            <img src="/images/wait.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="importModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import challenge</h5>
                </div>
                <div class="modal-body">
                    <div id="modalInputImport" class="text-center">
                        <input type="hidden" name="Id" id="Id" />
                        <div class="row align-content-center">
                            <div class="col-2">
                                <label asp-for="@Model.FilesAvailableForImport"></label>
                            </div>
                            <div class="col-7">
                                <select class="selectpicker" data-live-search="true" data-width="100%" id="fileSelector">
                                    @foreach (var file in Model.FilesAvailableForImport)
                                    {
                                        <option value="@file.Key">@file.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-primary" id="btnImport">Import challenge</button>
                            </div>
                        </div>
                    </div>
                    <div id="modalWaitingImport" class="text-center">
                        <div id="modalWaitingMessage">
                            Please wait while the challenge is imported...
                        </div>
                        <div>
                            <img src="/images/wait.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts
{
    <environment include="Development">
        <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
        <script src="~/js/azurechallenge.admin.indexchallenge.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="~/js/azurechallenge.admin.indexchallenge.min.js"></script>
    </environment>
    <partial name="_ValidationScriptsPartial" />

}
