@model IList<AzureChallenge.UI.Areas.Administration.Models.Challenges.IndexChallengeViewModel>
@{
    ViewData["Title"] = "Challenge list";
}

<h1>@ViewData["Title"]</h1>
<hr />

<form>
    <div class="container">
        <table class="table table-responsive-md table-hover" id="challengeTable">
            <thead class="thead-dark">
                <tr>
                    <th style="width:16.67%">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th style="width:41.68%">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th class="text-center" style="width:8.33%">Parameters</th>
                    <th class="text-center" style="width:8.33%">Edit</th>
                    <th class="text-center" style="width:8.33%">Copy</th>
                    <th class="text-center" style="width:8.33%">Locked?</th>
                    <th class="text-center" style="width:8.33%">Delete</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <button type="button" id="btnAddNew" class="btn btn-info float-right">Add new</button>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var q in Model)
                {
                    <tr>
                        <td>
                            @q.Name
                        </td>
                        <td>
                            @q.Description
                        </td>
                        <td class="text-center">
                            <a asp-action="Index" asp-controller="Parameter" asp-area="Administration" asp-route-challengeId="@q.Id">
                                <img src="~/images/settings-24px.svg" style="width:24px" />
                            </a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-controller="Challenge" asp-area="Administration" asp-route-challengeId="@q.Id">
                                <img src="~/images/edit.svg" style="width:24px" />
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="tableLinkCopy" data-challengeId="@q.Id">
                                <img src="~/images/copy.svg" style="width:24px" />
                            </a>
                        </td>
                        <td class="text-center">
                            @if (q.IsLocked)
                            {
                                <img src="~/images/lock-24px.svg" style="width:24px" />
                            }
                            else
                            {
                                <img src="~/images/lock_open-24px.svg" style="width:24px" />
                            }
                        </td>
                        <td class="text-center">
                            @if (q.IsLocked)
                            {
                                <img src="~/images/trash-2.svg" />
                            }
                            else
                            {
                                <a href="#" class="tableLinkDelete" data-challengeId="@q.Id">
                                    <img src="~/images/trash-2.svg" class="svg-filter-danger" />
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal" id="addNewModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new challenge</h5>
                </div>
                <div class="modal-body">
                    <div id="modalInput" class="text-center">
                        <input type="hidden" name="Id" id="Id" />
                        <div class="row text-left">
                            <div class="col-md-6">
                                <label asp-for="@Model[0].Name"></label>
                                <input name="Name" id="Name" required data-val="true" data-val-required="The Name field is required." class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="@Model[0].Description"></label>
                                <input name="Description" id="Description" required data-val="true" data-val-required="The Description field is required." class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div id="modalWaiting" class="text-center">
                        <div id="modalWaitingMessage">
                            Please wait while the challenge is updating...
                        </div>
                        <div>
                            <img src="/images/wait.gif">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnModalAdd" class="btn btn-primary">Add</button>
                    <button type="submit" id="btnModalCopy" class="btn btn-primary d-none">Copy</button>
                    <button type="button" id="btnModalClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts
{
    <environment include="Development">
        <script src="~/js/azurechallenge.admin.indexchallenge.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/azurechallenge.admin.indexchallenge.min.js"></script>
    </environment>
    <partial name="_ValidationScriptsPartial" />

}
